<nav class="site-nav">
  <div class="nav-header" hidden>
    <a href="/" class="logo mobile">PD</a>
    <i class="fa fa-bars burger nav-trigger" aria-hidden="true"></i>
  </div>

  <div class="nav-wrap flex flex--flow-row-nowrap flex--align-items-center">
    <!--<a href="/" class="logo"></a>-->
    <ul class="site-links slide-mid"> 
      <li><a href="/#portofolio">Portofolio</a></li>
      <li><a href="https://docs.google.com/document/d/1dFwhY1mt5E6mwV1-Nvw3lafdWPy4y0LdTPYqrV_H62Y/pub">Résumé</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
  </div>

  <div class="nav-trigger page-overlay"></div>
</nav>
<script src="/assets/js/navigation.js"></script>