<section class="intro">
  <div class="content">
    <div class="left">
      <!-- HELLO! -->
      <div class="introduction">
        <div class="line name">
          Prabu Dzaky
        </div>
        <div class="line">
          is learning to make
          Video Games
        </div>
        <div class="fade">and</div>
        <div class="line">
          practicing
          <span class="lenny"></span>
          driven
          development
        </div>
        <div>&nbsp</div>
        <div>hit me at</div>
        <div class="email"><a href="mailto:{{site.owner.email}}">{{site.owner.email}}</a></div>
      </div>
    </div>
    <div class="right">

    </div>
  </div>
</section>