<section class="social" id="contact">
  <div class="flex flex--flow-row-wrap">
    <a href="{{site.owner.linkedin}}" class="col-20 md-50 social-link linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="{{site.owner.gitlab}}" class="col-20 md-50 social-link gitlab"><i class="fa fa-gitlab"></i></a>
    <a href="{{site.owner.github}}" class="col-20 md-50 social-link github"><i class="fa fa-github"></i></a>
    <a href="{{site.owner.facebook}}" class="col-20 md-50 social-link facebook"><i class="fa fa-facebook"></i></a>
    <a href="{{site.owner.steam}}" class="col-20 md-50 social-link steam"><i class="fa fa-steam"></i></a>
  </div>
</section>