<!DOCTYPE html>
<html lang="en" ng-app="ceflix">
<head>
  <meta charset="UTF-8">
  <title>{{ site.name }}</title>

  <!-- seo -->
  <meta name="Title" content="{{site.name}}">
  <meta name="Keywords" content="{{site.keyword}}">
  <meta name="Description" content="{{site.description}}">
  <meta name="robots" content="index,follow">

  <meta name="google-site-verification" content="vSQ3AeygmPMPVpByzH5EOeFjVZXOxUhQN8OAV5ceP_Q" />

  <!-- viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- vendor -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
  
  <!-- mein -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/js/main.js"></script>
</head>
<body style="position:relative;"> 

{{content}} 

</body>
</html>